body {
  /* background-color: #141b47; */
  margin: 0;
  padding: 0;
  /*   overflow: clip; */
}

.navbar-expand-sm {
  background-color: #141b47;
}

.hero-image {
  min-height: 100vh;
  min-width: 90vw;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(../img/heroimage.png) no-repeat center center fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* @link https://utopia.fyi/space/calculator?c=320,21,1.2,1276,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --space-3xs: clamp(0.31rem, calc(0.29rem + 0.1vw), 0.38rem);
  --space-2xs: clamp(0.69rem, calc(0.67rem + 0.1vw), 0.75rem);
  --space-xs: clamp(1rem, calc(0.96rem + 0.21vw), 1.13rem);
  --space-s: clamp(1.31rem, calc(1.25rem + 0.31vw), 1.5rem);
  --space-m: clamp(2rem, calc(1.92rem + 0.42vw), 2.25rem);
  --space-l: clamp(2.63rem, calc(2.5rem + 0.63vw), 3rem);
  --space-xl: clamp(3.94rem, calc(3.75rem + 0.94vw), 4.5rem);
  --space-2xl: clamp(5.25rem, calc(5rem + 1.26vw), 6rem);
  --space-3xl: clamp(7.88rem, calc(7.5rem + 1.88vw), 9rem);
  --space-4xl: clamp(1.63rem, calc(1.54rem + 0.42vw), 1.88rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.17rem + 0.73vw), 0.75rem);
  --space-2xs-xs: clamp(0.69rem, calc(0.54rem + 0.73vw), 1.13rem);
  --space-xs-s: clamp(1rem, calc(0.83rem + 0.84vw), 1.5rem);
  --space-s-m: clamp(1.31rem, calc(1rem + 1.57vw), 2.25rem);
  --space-m-l: clamp(2rem, calc(1.67rem + 1.67vw), 3rem);
  --space-l-xl: clamp(2.63rem, calc(2rem + 3.14vw), 4.5rem);
  --space-xl-2xl: clamp(3.94rem, calc(3.25rem + 3.45vw), 6rem);
  --space-2xl-3xl: clamp(5.25rem, calc(3.99rem + 6.28vw), 9rem);

  /* Custom pairs */
  --space-s-l: clamp(1.31rem, calc(0.75rem + 2.82vw), 3rem);
}

.wrap-texto {
  color: #fff;
  text-align: center;
  font-size: var(--space-s);
}

.frase {
  width: 80%;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

/* tabla candidatos */

.table-candidatos {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: var(--space-4xl);
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.table-candidatos tr {
  width: 170px;
  height: 32px;
  padding: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

.table-candidatos th {
  font-weight: bold;
  text-align: center;
  padding: 0;
}

.table-candidatos caption {
  padding-bottom: 1rem;
  caption-side: top;
  text-align: center;
}

/* tabla encuestas*/

.table-encuesta {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 75% !important;
}

.table-encuesta th {
  vertical-align: middle;
  text-align: center;
}

.table-encuesta caption {
  padding: 2rem 0;
  caption-side: top;
  text-align: center;
  font-size: var(--space-4xl);
}

/* lista */

.container-lista {
  width: 70% !important;
}

.lista-otros {
  margin: 0 auto;
}

/* footer */
footer {
  margin-top: 2rem;
}

/* Media queries Ancha */
@media (max-width: 1200px) {
}

/* Media queries SM */
@media (max-width: 768px) {
  .wrap-texto {
    font-size: var(--space-s);
  }

  /*   .table-encuesta {
    width: 10vw;
  } */
}
/* Media queries EXTRA SM */

@media (max-width: 576px) {
  .wrap-texto {
    font-size: var(--space-s);
  }

  .frase {
    width: 100%;
    font-size: var(--space-xs);
    margin-top: -2rem;
  }

  .container-lista {
    width: 80% !important;
    border-radius: 15px;
    border: 10px solid #141b47;
  }

  .table-encuesta {
    width: 80% !important;
  }
}

/* X-Small */

@media (max-width: 375px) {
  .container-lista {
    width: 90% !important;
    border-radius: 15px;
    border: 10px solid #141b47;
  }

  .table-encuesta {
    width: 70% !important;
  }
}
